@using SkinCareWebApp.Models
@model List<ActionData>
@if (Model != null)
{
    <div id="precautions2" class="row" style="background-color:#eeee;padding:15px;">
        <div class="col-md-6">
            <ul class="list-group list-group-light">
                @{ int median = Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(Model.Count()) / 2));}
                @for (int i = 0; i < median; i++)
                {
                    <li class="list-group-item px-5">
                        <h5>@Model[i].Description.Description1</h5>
                    </li>
                }

                @*<li class="list-group-item px-5"><h5>Apply at least one ounce of sunscreen (enough to fill a shot glass) at least 15 to 30 minutes before going outside. Also use a lip balm or lipstick that contains sunscreen with a sun protection factor (SPF) of at least 30.</h5></li>
                    <li class="list-group-item px-5"><h5>Choose a broad spectrum sunscreen that protects against both UVA and UVB radiation. Make sure it is water resistant and has a SPF of 30 or higher. Other sunscreens may help keep you from getting sunburned, but they won’t protect against skin cancer.</h5></li>
                    <li class="list-group-item px-5"><h5>Reapply sunscreen every two hours. Reapply every hour if you are swimming or sweating. share on twitter</h5></li>
                    <li class="list-group-item px-5"><h5>Be extra careful around water and sand. These surfaces reflect the damaging rays of the sun, which can increase your chance of getting a sunburn.</h5></li>*@
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-light">
                @for (int i = median; i < Model.Count(); i++)
                {
                    <li class="list-group-item px-5">
                        <h5>@Model[i].Description.Description1</h5>
                    </li>
                }

                @*<li class="list-group-item px-5"><h5>Keep babies younger than 6 months old completely covered and in the shade.</h5></li>

                    <li class="list-group-item px-5"><h5>Limit the amount of time you’re in the sun between 10:00 AM and 4:00 PM. This is when the sun's rays are the most intense. Practice the shadow rule: if your shadow is shorter than you, the sun's rays are at their strongest, and you should find shade.</h5></li>

                    <li class="list-group-item px-5"><h5>If possible, wear a long-sleeved shirt and long pants. Dark clothing with tightly woven fabric blocks more sun than white or loosely woven fabrics. For additional protection, look for clothes made with special sun-protective materials.</h5></li>

                    <li class="list-group-item px-5"><h5>Accessorize with a hat that shades your face, neck, and ears and a pair of sunglasses. Sunglasses with lenses that have 99% to 100% UV absorption provide optimal protection for the eyes and the surrounding skin.</h5></li>

                    <li class="list-group-item px-5"><h5>Be even more cautious if you are taking medications that may make you more sensitive to the sun. share on twitter These include specific types of antibiotics, anti-inflammatories, antifungals, blood pressure medications, and chemotherapies.</h5></li>*@
            </ul>
        </div>
    </div>
}
else
{
    <div>No Data Available. Please Refresh.</div>
}