
<div class="row align-self-center justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-4 m-1" id="weather-card">
        <div class="card" style="color: #4B515D; border-radius: 35px; height:100%">
            <div class="card-body p-4">
                <div class="d-flex flex-column">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 m-1" id="weather-card">
        <div class="card" style="color: #4B515D; border-radius: 35px; height:100%">
            <div class="card-body p-4">
                <div class="d-flex flex-column">
                    <canvas id="bargraph"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

