<div class="row align-self-center justify-content-center">
    <div class="col-md-10 col-lg-6 col-xl-4" id="weather-card">
        <div class="card" style="color: #4B515D; border-radius: 35px; height:100%">
            <div class="card-body p-4">
                <div class="d-flex flex-column">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-lg-6 col-xl-4" id="weather-card">
        <div class="card" style="color: #4B515D; border-radius: 35px; height:100%">
            <div class="card-body p-4">
                <div class="d-flex flex-column">
                    <canvas id="bargraph"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="row align-self-center justify-content-center">

        <main>
            <section class="ends">
                Parallax with wiping titles
            </section>
            <section class="slides">
                <ul class="list">
                    <li class="slide">
                        <div class="background" style="background-image: url('https://placedog.net/1920?id=1');
              "></div>
                        <div class="content">
                            SLIDE 1
                        </div>
                    </li>
                    <li class="slide">
                        <div class="background" style="background-image: url('https://placedog.net/1920?id=2');
              "></div>
                        <div class="content">
                            SLIDE 2
                        </div>
                    </li>
                    <li class="slide">
                        <div class="background" style="background-image: url('https://placedog.net/1920?id=3');
              "></div>
                        <div class="content">
                            SLIDE 3
                        </div>
                    </li>
                    <li class="slide">
                        <div class="background" style="background-image: url('https://placedog.net/1920?id=4');
              "></div>
                        <div class="content">
                            SLIDE 4
                        </div>
                    </li>
                    <li class="slide">
                        <div class="background" style="background-image: url('https://placedog.net/1920?id=5');
              "></div>
                        <div class="content">
                            SLIDE 5
                        </div>
                    </li>
                    <li class="slide">
                        <div class="background" style="background-image: url('https://placedog.net/1920?id=6');
              "></div>
                        <div class="content">
                            SLIDE 6
                        </div>
                    </li>
                </ul>
            </section>
            <section class="ends">
                So fun, right?
            </section>
        </main>
    </div>*@

