
<div class="row align-self-center justify-content-center" >
    <div class="col-md-8">
        <div class="card" style="color: #4B515D; height:100%; width:100%">
            <div class="card-body p-2">
                <div class="d-flex flex-row ">
                    <div class="d-flex p-2">
                        <h4><b>Search by city</b></h4>
                    </div>
                    <div class="d-flex p-2 flex-grow-1">
                        <select id="citySearchBar" class="browser-default custom-select">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>