@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="d-flex flex-column">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 p-2">
            <div id="carouselBasicExample" class="carousel slide carousel-fade d-flex" style="background-color: rgba(238,238,238,0.75);" data-mdb-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button"
                            data-mdb-target="#carouselBasicExample"
                            data-mdb-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"></button>
                    <button type="button"
                            data-mdb-target="#carouselBasicExample"
                            data-mdb-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button"
                            data-mdb-target="#carouselBasicExample"
                            data-mdb-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <!-- Inner -->
                <div class="carousel-inner">
                    <!-- Single item -->
                    <div class="carousel-item active">
                        <a class="d-flex flex-row align-items-center justify-content-center " href="/home/index#UvAndWeatherCardSection">
                            <img src="https://lirp.cdn-website.com/b4a5a0bb060c4a9297eb2e566c1a4b16/dms3rep/multi/opt/58146452_l-1024x683-960w.jpg" style="object-fit:cover;height:670px;width:87.5%" class="d-block w-60" alt="Sunset Over the City" />
                            <div class="carousel-caption d-none d-md-block">
                                <h3>
                                    <b>
                                        <p>UV Index and Weather Information</p>
                                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                    </b>
                                </h3>
                            </div>
                        </a>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                        <a class="d-flex flex-column align-items-center justify-content-center " href="/home/index#PrecautionsSection">
                            <img src="https://media.allure.com/photos/5d00f50eec86fe723408f40b/16:9/w_2560%2Cc_limit/how-dermatologists-protect-from-sun-summer-lede.jpg" style="object-fit:cover;height:670px;width:87.5%" class="d-block w-60" alt="Canyon at Nigh" />
                            <div class="carousel-caption d-none d-md-block">
                                <h3>
                                    <b>
                                        <p>Precautions and Activities</p>
                                        <p>Stay in shade near midday when the sun is strongest.</p>
                                    </b>
                                </h3>
                            </div>
                        </a>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                        <a class="d-flex flex-column align-items-center justify-content-center" href="/home/index#ChartsSection">
                            <img src="https://economictimes.indiatimes.com/thumb/msid-79776713,width-1200,height-900,resizemode-4,imgsize-145943/while-the-reasons-for-seasonal-variations-in-the-spread-of-covid-19-remain-a-mystery-the-researchers-said-there-have-been-some-clues-that-uv-could-play-a-role-.jpg?from=mdr" style="object-fit:cover;height:670px;width:87.5%" class="d-block w-60" alt="Cliff Above a Stormy Sea" />
                            <div class="carousel-caption d-none d-md-block">
                                <h3>
                                    <b>
                                        <p>Trends of UV and Temperature of Past 7 days</p>
                                        <p>Interactive Charts for historical Weather Trends</p>
                                    </b>
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Inner -->
                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon text-dark" style="margin-left:-125px" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
                    <span class="carousel-control-next-icon text-dark" style="margin-right:-125px" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel wrapper -->

        </div>
    </div>
    <div class="row d-flex p-4" style="background-color:rgba(0,0,0,0.3)">
        <div class=" d-flex flex-column col-md-4 p-4 flex-grow-1 justify-self-start">
            <img src="https://jackievannice.com/wp-content/uploads/2018/04/slide05-1-1024x579.png" style="border-radius:10px;" />
        </div>
        <div class=" d-flex flex-column col-md-4 p-4 flex-grow-1 justify-self-end align-items-center justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">What Is The UV Index Scale?</h2>
                    <p class="card-text">
                        The World Health Organization (WHO) created the UV index (abbreviated as UVI) in an effort to quantify the levels of UV radiation and the danger of sun exposure. The UV index is a measure of the UV radiation in any given place.
                        Understanding the UV index helps people know what they need to do in order to protect themselves from the sun’s damaging rays. UV radiation can cause melanoma and other forms of skin cancer, so it’s crucial to take the right steps to protect yourself from the sun, especially when the UV is high.
                    </p>
                    <a href="/home/index#UvAndWeatherCardSection" class="btn bg-danger text-light"><b>Click to check UV Index of any city</b></a>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex p-4">
        <div class=" d-flex flex-column col-md-4 p-4 flex-grow-1 justify-self-end align-items-center justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Precautions for skin protection with UV</h2>
                    <div class="card-text">
                        <ul class="list-group list-group-light">
                            <li class="list-group-item">
                                Stay in shade near midday when the sun is strongest.
                            </li>
                            <li class="list-group-item ">
                                Try not to wear makeup as it can clog your skin pores and cause break-outs. Even if you are, make sure you clean it well before going to the bed.
                            </li>
                        </ul>
                    </div>
                    <a href="/home/index#PrecautionsSection" id="PrecautionsSectionBtn" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
        <div class=" d-flex flex-column col-md-4 p-4 flex-grow-1 justify-self-start">
            <img src="https://www.adventisthealth.org/images/blog/shades.jpg" style="border-radius:10px;" />
        </div>
    </div>

    <div class="row flex-grow-1" style="background-color:rgba(0,0,0,0.3)">
        <div class="p-4 ">
            <div class="card text-light" style="background-color: #87CEEB">
                <div class="card-body">
                    <div class="card-text d-flex">
                        <div class="d-flex flex-column justify-content-around ">
                            <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center p-2">
                                <h2 class="card-title text-dark">Charts Showing Temperatures and UV Trends</h2>
                            </div>
                            <div class="d-flex p-2">
                                <div class=" d-flex flex-column col-md-4 p-4 flex-grow-1 justify-self-start">
                                    <h4 class="text-dark">
                                        Ozone depletion, as well as seasonal and weather variations, cause different amounts of UV radiation to reach the Earth at any given time. Taking these factors into account, the UV Index predicts the level of solar UV radiation and  indicates the risk of overexposure on a scale from 0 (low) to 11 or more (extremely high). A special UV Alert may be issued for a particular area, if the UV Index is forecasted to be higher than normal.
                                    </h4>
                                </div>
                                <div class="flex-grow-1 d-flex flex-column col-md-4 p-4 flex-grow-1 justify-self-end">
                                    <img src="https://img.freepik.com/premium-vector/bar-chart-with-uptrend-arrow-blue-background-with-copy-space-business-growth-concept_120819-883.jpg" style="border-radius:10px;" />
                                </div>
                            </div>
                            <a href="/home/index#ChartsSection" style="width: 20%;" class="btn btn-primary m-2 p-2">Show Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/HomePage.js"></script>