@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="row">

    <!-- Weather card -->
    <div>
        @Html.Action("UvCard");
    </div>
    <!-- Weather card -->
    <div>
    </div>


    <!-- Precaution List Card -->
    @*<div>
        @Html.Action("Precautions");
    </div>*@
    <!-- Precaution List Card -->
    

</div>
